[tool.poetry]
name = "sailowtech-ctd"
version = "0.1.0"
description = ""
authors = ["Arthur Jacobs <arthur.jacobs@sailowtech.ch>",
    "Mauro"]
readme = "README.md"
packages = [{ include = "software/sailowtech_ctd" }]

[tool.poetry.dependencies]
python = "^3.9"
pyyaml = "^6.0.1"
smbus2 = "^0.4.3"
keyboard = "^0.13.5"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
